<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hey Hari , {{message}} With routing
  </h1>
</div>
<nav>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  <a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav>
  <!-- <div ><app-test></app-test></div> -->
  <!-- <div>
    <div (childEvent)="message=$event" class="app-test2" [parentData]="name" [parentData2]="name"></div>
  </div> -->
  <!-- <div app-test3></div> -->
  <!-- <app-employee-list></app-employee-list>
  <app-employee-detail></app-employee-detail> -->


<router-outlet></router-outlet>
<!-- Routed  views go here -->

